.SearchInput {
    background-color: rgb(24, 26, 27);
    color: rgba(232, 230, 227, 0.75);
    height: 42px;
    padding: 16px 144px 16px 54px;
    font-weight: 300;
    width: 100%;
    margin-right: 5%;
}

.SearchInput__container {
    display: flex;
    align-items: space-around;
    justify-content: center;
    max-width: 75%;
    margin: auto;
}